<p style="color: green"><%= notice %></p>

<%= render @category %>

<div>
  <%= link_to t(:edit_category), edit_category_path(@category) %> |
  <%= link_to t(:back_to_categories), categories_path %>

  <%= button_to t(:destroy), @category, method: :delete %>
</div>
